<section class="section-agenda">
  <div class="row">
    <div class="columns small-24 large-8">
      <p class="section-agenda__title">Agenda</p>
    </div>
  </div>
  <div class="row">
    {{#each events}}
    <div class="columns small-24 medium-8">
      {{>elements/agenda-block}}
    </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="columns small-24">
      <a href="agenda.php" class="btn btn-primary dark">Laad meer</a>
    </div>
  </div>
</section>