.header.header--fixed{
  position:relative;
  @include breakpoint(large){
    background:transparent;
    height:140px;
  }
  &:before{
    @include breakpoint(large){
      content:'';
      position:fixed;
      top:0px;
      left:0px;
      z-index: -1;
      background-image: linear-gradient(-35deg,#27c4d0,#066484);
      width:100%;
      height:100vh;
    }
  }
}