<article class="container-event">
  <div class="container">
    <div class="row">
      <div class="content-container">
        <div class="columns small-24 large-14 large-push-10">
          <div class="content">
            <!-- {{{news.content}}} -->
            <strong>Dit jaar bestaat Elektra 50 jaar. Om dat te vieren worden 4 reünies gehouden. Allereerst zijn de 70-er
            jaren aan de beurt.</strong>
            <p>Heb je de opening van de Rosmolen in 1970 meegemaakt? Of ben je getuige geweest van de roemruchte
            tijd, waarin de ene na de andere projectleider kwam en weer ging? Mee getimmerd aan de bar, die iedere
            keer werd verbouwd? Of herinneringen aan de eigen krant, de discotheek, het winkeltje, het biologisch
            restaurant of het koffiehuis? De naamsverandering van de Rosmolen in Elektra? Of wanneer het
            jongeren-zelfbestuur werd ingevoerd, dat tot de dag van vandaag nog functioneert?</p>
            <p>Wil je graag als vrijwilliger of bezoeker met elkaar oude herinneringen ophalen? Kom dan naar Elektra.
            Iedereen is van harte welkom. Noteer de datum 3 maart alvast in je agenda. Zaal open: 19.00 uur ; zaal
            dicht: 2.00 uur.</p>
            <p>Aan het programma van die avond wordt momenteel door een groepje vrijwilligers van toen en nu hard
            gewerkt. Wij zijn nog op zoek naar barkeepers en deejays van weleer. Muziek van die tijd zal gedraaid
            worden. Oude tijden herleven.</p>
            <p>Aanmelden kan simpel via de e-mail. Stuur een berichtje naar <a href="mailto:j.verhoef8@upcmail.nl">Joost Verhoef</a>. Hij
            neemt vervolgens contact met je op.</p>
          </div>
        </div>
        <div class="columns small-24 large-8 large-pull-15">
          <div class="artist-info">
            <ul>
              <li><a href="event-reunie.php">Evenement pagina</a></li>
              <li><a href="mailto:j.verhoef8@upcmail.nl">Aanmelden als vrijwilliger</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>