<a href="agenda-detail.php" class="event-slide">
  <figure class="event-slide__bg"></figure>
  <p class="event-slide__date">12 jun</p>
  <p class="event-slide__title">Radar men from the moon (NL) + Mantra Machine (NL)</p>
  <p class="event-slide__subtitle">psychedelic rock</p>
</a>
