<div class="mobile-menu">
  <div class="row">
    <div class="columns small-23 small-offset-1">
      <ul class="mobile-menu__nav">
        <li><a href="index.php">Home</a></li>
        <li><a href="agenda.php">Agenda</a></li>
        <li><a href="over-elektra.php">Over Elektra</a></li>
        <li><a href="contact.php">Contact</a></li>
      </ul>
      <ul class="mobile-menu__subnav">
        <li><a href="repeteren.php"><i class="icon icon-arrow"></i>Oefenruimte</a></li>
        <li><a href="vrijwilliger-worden.php"><i class="icon icon-arrow"></i>Vrijwilliger worden</a></li>
        <!-- <li><a href="praktische-info.php"><i class="icon icon-arrow"></i>Praktische informatie</a></li> -->
        <!-- <li><a href="werken-bij.php"><i class="icon icon-arrow"></i>Werken bij Elektra</a></li> -->
      </ul>
    </div>
  </div>
</div>