<article class="container-article">
  <div class="container">
    <div class="row">
      <div class="content-container">
        <div class="columns small-24 large-14 large-push-10">
          <div class="content">
            <div id="trigger1"></div>
            {{{pageContent}}}
          </div>
        </div>
        <div class="columns small-24 large-9 large-pull-14">
          <ul class="btn-list" id="pinned-menu">
            {{#each infoLinks}}
              <li><a href="{{this.link}}" {{#if this.target}} target="_blank"{{/if}} class="btn btn-primary">{{this.btn-text}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>