<section class="section__pageindex">
  <h2>{{{title}}}</h2>
  <p>{{{content}}}</p>
  <ul>
    <br>
    <li><a href="index.php">Home</a></li>
    <li><a href="over-elektra.php">Over Elektra</a></li>
    <li><a href="agenda.php">Agenda</a></li>
    <li></li>
    <li><a href="event-magic.php">Evenement Magic</a></li>
    <li><a href="event-stillwave.php">Evenement Stillwave</a></li>
    <li><a href="event-tafelvoetbal.php">Evenement Tafelvoetbal</a></li>
    <li><a href="event-up-the-irons.php">Evenement Up the Irons</a></li>
    <li></li>
    <li><a href="huisregels.php">Huisregels</a></li>
    <li><a href="repeteren.php">Vrijwilliger worden</a></li>
    <li><a href="repeteren.php">Repeteren</a></li>
    <li><a href="contact.php">Contact</a></li>
    <!-- <li><a href="praktische-informatie.php">Praktische informatie</a></li> -->
    <!-- <li><a href="werken-bij.php">Werken bij Elekta</a></li> -->
  </ul>
</section>
