<section class="header header--news">
  <figure class="header__figure" style="background-image:url('assets/images/{{news.image-big}}')">
  </figure>
  <div class="row">
    <div class="columns small-24 large-14 large-offset-1 end">
      <p class="header__title">{{news.title}}</p>
    </div>
  </div>
</section>