<article class="container-article">
  <div class="container">
    <!-- <div class="row">
      {{>elements/agenda-filter}}
    </div> -->
    {{#each allEvents}}
    <div class="row">
      <div class="columns small-24">
        {{>elements/agenda-block--small}}
      </div>
    </div>
    {{/each}}
  </div>
</article>